<h3 class="text-center" style="font-size: 20px;">
    Hola {{persona}}, bienvenido al administrador de
    <span style="font-size: 25px;">Psitsones Otto</span>
</h3>
<div class="text-center" style="padding:30px;">
<a href="productos" style=" border: solid; font-size: 20px;padding:30px">Productos</a>
<a href="seguimiento" style="border: solid;font-size: 20px;padding:30px">seguimiento</a>
</div>
<p class="text-end"><a class="btn btn-danger" href="/admin/login/logout">Cerrar Sesión<i class="fas fa-sign-out-alt"></i></a></p>